/Ejericicios/ClasesDeUtilidad/build/
/Ejericicios/ClasesDeServicio/build/
/Ejericicios/IntroPOO/build/
/Ejericicios/Ejercicios/build/
/Ejericicios/ClasesDeUtilidad/nbproject/private/
/Integrador/nbproject/private/
/Integrador/build/
/Colecciones/nbproject/private/
/Colecciones/build/
/Ejericicios/ColeccionesEjercicios/build/
/Borradores/nbproject/private/