h1, h2 {
    font-family:'Courier New', Courier, monospace ;
}

h1 {
    padding-top: 60px;
}

.navbar {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }