body {
  background-image: url(../Imagenes/LandingPage.jpg);
}

nav {
  background: linear-gradient(
    to right,
    #6c0020,
    #ff593e 10%,
    #fc543a 10%,
    #ffdbc5 80%
  );
}

.navbar-brand {
  color: white;
  font-weight: 650;
}

.nav-link {
  color: white;
}

a:hover {
  color: #6c0020;
}

.col-sm-6 {
  padding: 15px;
}

.card {
  background-color: transparent;
}
